
#jumbo-style {
    background-color: rgba(113, 152, 189, .6);
    height: 17em;
    width: 82.5%;
    margin: 0 auto;
    min-width: 395px;
}

.title {
    text-shadow: 1px 1px 1px rgb(255 255 255);
}
#clear-storage {
    background-color: rgba(113, 152, 189, .5);
    padding: 5px;
    border-radius: .5em;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 4px rgb(113 152 189 / 70%);
    cursor: pointer;
    color: white;
}

#clear-storage:hover {
    background-color: rgba(113, 152, 189, 1);
    box-shadow: 0 0 0 0;
}

.hourly-rows {
    display: flex;
    flex-direction: row; 
}

.time {
    flex: 0;
    padding: 2em;
    text-align: center;
    background-color: rgba(113, 152, 189, .5);
    border: 1px solid black;
    max-width: 95px;
    min-width: 95px;
    cursor: pointer;
}

.time:hover {
    background-color: rgba(113, 152, 189, 1);
    color: white;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: rgba( 113, 152, 189, 1);
    border: 1px solid white;
    border-radius: 5px;
    padding: .5em;
    color: white;
    font-size: .9em;
}

.time:hover .tooltiptext{
    visibility: visible;
}

.text-area {
    flex: 1;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em;
    color: rgba(113, 152, 189, 1);

}

.save {
    flex: 0;
    padding: 2em;
    text-align: center;
    background-color: rgba(113, 152, 189, .5);
    border: 1px solid black;
}
.save:hover {
    background-color: rgba(113, 152, 189, 1);
    color: white;

}
